<form action='/register' method='POST'>
  <input type="text" name='first_name'></input>
  <input type="text" name='last_name'></input>
  <input type="email" name='email'></input>
  <input type="password" name='password'></input>
</form>
