<form action='/register' method='POST'>
  First Name: <input type="text" name='first_name'></input><br />
  Last Name: <input type="text" name='last_name'></input><br />
  Email: <input type="email" name='email'></input><br />
  Password: <input type="password" name='password'></input><br />
	<input type="submit" value="Send ME!" />
</form>
