
<h1>Hello</h1>

  <form action='/users/new' method='POST'>
    <label for='fname'>First Name:</label>
    <input type='text' name='user[fname]'>
    <br>
    <label for='lname' name='user[lname]'>Last Name:</label>
    <input type='text'>
    <br>
    <label for='email' name='user[email]'>Email:</label>
    <input type='email'>
    <br>
    <label for='password' name='user[password]'>Password:</label>
    <input type='text'>
    <br>
    <button type='submit'>Submit</button>
  </form>