<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Sign Up</div>
        <div class="panel-body">
          <form action="/users" method="post">
            <div class="form-group">
              <input type="text" name="user[fname]" placeholder="First Name" value="" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="user[lname]" placeholder="Last Name" value="" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="user[email]" placeholder="Email" value="" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="user[password]" placeholder="Password" value="" class="form-control">
            </div>
            <button class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
