<form action="/users/new" method="post">
  <h3>Register as a new user</h3>

    <label for="user_first_name">First name</label>
    <input type="text" id="user_first_name" name="user[firstName]">

    <label for="user_last_name">Last name</label>
    <input type="text" id="user_last_name" name="user[lastName]">

    <label for="user_email">Email</label>
    <input type="text" id="user_email" name="user[email]">

    <label for="user_password">Password</label>
    <input type="password" id="user_password" name="user[password]">

    <input type="submit">

</form>
